<div class="text-center">
    <h1 class="display-4">COMPRA DE PRODUCTO/SERVICIO</h1>
</div>
<div>
    <p><strong>Resumen de compra: </strong>Pagina que muestre el resumen de productos seleccionados y sus precios</p>
</div>