<div class="text-center">
    <h1 class="display-4">VENTAS DE PRODUCTOS Y SERVICIOS</h1>
</div>

<div>
    <p><strong>Productos destacados: </strong>Pagina que muestra los proudctos que estan en oferta/promocion</p>
</div>