@{
    ViewData["Title"] = "Quienes somos";
}

<div class="text-center">
    <h1 class="display-4">PRESENTACION DE LA EMPRESA</h1>
</div>

<div>
   <p><strong>Quienes somos: </strong>Página dedicada a presentar la empresa</p>
   <p><strong>Servicios y productos: </strong>Pagina dedicada a mostrar un resumen de los principales productos y servicios brindados por la empresa</p>
</div>