<h1>CUENTA DE USUSARIO</h1>
<form method="post">
    <div class="form-group">
        <label for="">Nombre completo</label>
        <input type="text" name="nombre_completo" class="form-control">
    </div>
    <div>
        <label for="">Mensaje</label>
        <textarea name="mensaje" id="" cols="30" rows="10" class="form-control"></textarea>
    </div>
    <button class="btn btn-primary">Enviar mensaje</button>
</form>